.cell {
    background: #eceff1;
    display: inline-block;
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    padding: 6px 10px;
    box-sizing: border-box;
    border: 1px solid #cfd8dc;
    cursor: pointer;
}

.cell_first_player {
    background: #d32f2f;
    color: #fff;
}

.cell_second_player {
    background: #0277bd;
    color: #fff;
}