.cell {
    background: #eceff1;
    display: inline-block;
    /*width: 100%;*/
    font-size: 22px;
    font-weight: 700;
    padding: 6px 10px;
    box-sizing: border-box;
    border: 1px solid #cfd8dc;
    cursor: pointer;
    width: 45px;
    height: 45px;
}

.cell_first_player {
    background: #D90368;
    color: #fff;
}

.cell_second_player {
    background: #541388;
    color: #fff;
}
