.cell {
    /*background: rgb(198, 198, 198);*/
    /*display: inline-block;*/
    /*width: 100%;*/
    /*border-radius: 10px;*/
    /*margin: 5px;*/
    /*!*color: rgb(198, 198, 198);*!*/
    background: antiquewhite;
    display: inline-block;
    width: 100%;
    margin: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 4px;
}

.cell_first_player {
    background: rgb(198, 100, 111);
    color: rgb(198, 100, 111);
}

.cell_second_player {
    background: rgb(110, 135, 198);
    color: rgb(110, 135, 198);
}