.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.players {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% auto 2%;

}

.player {
    margin: 0 1%;
    font-weight: 700;
    font-size: 20px;
}

.first-player {
    color:#d32f2f;
}

.second-player {
    color: #0277bd;
}